.fadeInDown {
  animation: fadeInDown 1.25s normal forwards cubic-bezier(0.57, 2, 0.34, 1);
  position: relative;
}

@keyframes fadeInDown {
  from {
    visibility: hidden;
    top: -25px;
    opacity: 0;
  }

  to {
    visibility: visible;
    top: 0;
    opacity: 1;
  }
}
