.header {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  animation: opacity 0.25s;
}

.header a {
  opacity: 1;
}

.header img {
  width: 125px;
  margin-left: auto;
}

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.burger {
  max-width: 25px;
  padding: 15px;
  cursor: pointer;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
