---
import "./footer.css";
import RuckusLogo from "../../images/common/ruckus-logo.svg";
---

<footer>
  <p class="copyright">
    © 2017 – {new Date().getFullYear()} with love by <a href="/"><img src={RuckusLogo.src} alt="Ruckus Labs." /></a>
    <br /><br /> Any and all rights reserved.
  </p>
</footer>
